user-profile-service/src/main/resources/wsld/userprofile.wsdl

<!-- src/main/resources/wsdl/userprofile.wsdl -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://datarium.com/userprofile"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://datarium.com/userprofile">

    <wsdl:types>
        <xsd:schema targetNamespace="http://datarium.com/userprofile">
            <xsd:element name="GetUserProfileRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetUserProfileResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="profile" type="tns:UserProfile"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="UserProfile">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:long"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="riskProfile" type="tns:RiskProfile"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="RiskProfile">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CONSERVATIVE"/>
                    <xsd:enumeration value="MODERATE"/>
                    <xsd:enumeration value="AGGRESSIVE"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetUserProfileRequest">
        <wsdl:part element="tns:GetUserProfileRequest" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="GetUserProfileResponse">
        <wsdl:part element="tns:GetUserProfileResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="UserProfilePort">
        <wsdl:operation name="GetUserProfile">
            <wsdl:input message="tns:GetUserProfileRequest"/>
            <wsdl:output message="tns:GetUserProfileResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UserProfileBinding" type="tns:UserProfilePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetUserProfile">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UserProfileService">
        <wsdl:port binding="tns:UserProfileBinding" name="UserProfilePort">
            <soap:address location="http://localhost:8082/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>